
body {
    font-family: Helvetica Neue, Arial, sans-serif;
    font-size: 14px;
    color: #444;
}

.pink{background-color:#fcccb0;}

.filterFields{margin:10px 0 10px 0; overflow: hidden;}
.filterFields input, .filterFields select
{
    height: 36px;
    background-color: #f0f2e6;
    border: 1px solid #cdcdcd;
    margin-right:10px;
}

#searchBox{
    width: 300px;
    padding: 10px;
    font-size: 24px;
    float: left;
}

.ddlFilter{
    font-size: 18px;
    float: left;
}

.ddlfilter.wide{width:150px;}
.ddlfilter.narrow{width:100px;}

#rowCount {
  height: 20px;
  width: 130px;
  padding: 10px 10px;
  background-color: #afddcd;
  float: left;
  margin-left:40px;
}

#main-container
{
    min-width: 2242px;
    overflow: hidden;
}

#header {
    overflow: hidden;
    margin-left: 1px;
    border-bottom: 10px solid #e6e7e8;
}

.hcell {
    padding: 10px 5px;
    font-size: 14px;
    color: #e6e7e8;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -user-select: none;
    float:left;
    height: 50px;
    font-weight: bold;
    border-right: 1px solid white;

}

.hcell.active {
    color: #afddcd;
}

.hcell.active .arrow {
    opacity: 1;
}

.hcell.one{background-color: #434345;width:120px;}
.hcell.two{background-color: #182a5b;width:45px;}
.hcell.three{background-color: #481550;width:45px;}


#table-container {
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
}


table {
    background-color: #fff;
}

td {
    padding: 5px 5px;
    font-size: 12px;
    background-color: #e6e7e8;
    cursor:pointer !important;
}

td.one{min-width: 119px;}
td.two{min-width: 44px;}
td.three{min-width: 44px;}

td.green{background-color: #afddcd;}
td.red{background-color: #fcccb0;}


.arrow {
    display: inline-block;
    vertical-align: middle;
    width: 0;
    height: 0;
    margin-left: 5px;
    opacity: 0.66;
}

.arrow.asc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-bottom: 4px solid #fff;
}

.arrow.dsc {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid #fff;
}

#search {
    margin-bottom: 10px;
}


.field
{
    width:100%;
    margin-bottom: 10px;
    overflow: hidden;
}

.field label{
    float:left;
}

.field.down textarea{float:left;}
.field.down select{width:auto; margin-left: 30px; float:left;}

.field input, .field select
{
    float:right;
    width: 70%;
    height: 30px;
    padding-left: 5px;
    font-size: 18px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}

.edit_field_focus{
  border:2px solid yellow;
}

.float input, .float select
{
  float: left;
  width: 90%;
  height: 30px;
}

#userinfo{overflow:hidden;}
#userinfo .float{
  float: left;
    width: 30%;
  }

#appSteps {
    font-size: 12px;
    overflow: hidden;
    margin-top: 30px;
}
#appSteps .field {
    width: 25%;
    float: left;
    height: 60px;
}
#appSteps .field label {
    text-align: left;
}
#appSteps .field select,#appSteps .field input {
    float: left;
    font-size: 12px;
}

#pass
{
    height: 30px;
    padding-left: 5px;
    font-size: 18px;
    font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
}
